body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Landing image */
#landing-image {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0vh;
    box-sizing: border-box;
    /* height: calc(100vh - 4vh);
    width: calc(100vw - 4vh);
    margin: 2vh; */
    overflow: hidden;
}
#landing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Down arrow on landing image */
#landing-arrow {
    position: absolute;
    bottom: 3vh;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 3rem;
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
}

#landing-arrow:hover { /* bounce */
    transform: translateX(-50%) translateY(5px);
}